<div class="login-container">
  <app-loading-spinner *ngIf="isSubmitting"></app-loading-spinner>
  <div class="login-card">
    <h1 class="login-title">Choose Your Username</h1>
    <p class="login-subtext">
      <em>Your username is for your profile, not your in-game character.</em>
    </p>
    <form [formGroup]="usernameForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        class="form-control neon-input"
        formControlName="username"
        placeholder="Enter username"
        autocomplete="username"
      />

      <button
        type="submit"
        class="btn login-submit-btn w-100 mt-3"
        [disabled]="usernameForm.invalid || isSubmitting"
      >
        Set Username
      </button>

      <div *ngIf="errorMessage" class="alert alert-danger mt-3 text-center">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
