<div class="login-container">
  <div class="login-card">
    <h1 class="login-title">AutoBattler</h1>
    <hr class="login-underline" />
    <p class="login-subtext">
      <em>Log in with your Google profile to enter the arena.</em>
    </p>
    <div class="google-login-wrapper">
      <div id="google-button"></div>
      <div *ngIf="loading" class="login-block-overlay"></div>
    </div>
    <div *ngIf="errorMessage" class="login-error">{{ errorMessage }}</div>
    <div class="login-wait-hint">
      <span>
        After logging in, <span class="hint-em">please wait a few seconds while we set up your profile.</span>
      </span>
    </div>
  </div>
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
</div>
